@import 'tailwindcss';

@theme {
  --color-brand-primary: #00899e;
  --color-brand-secondary: #d9de38;
  --color-brand-tertiary: #283155;
  --color-brand-text: #1a2339;
  --color-brand-grey: #595b63;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-[1200px];
}

h1,
h2,
h3,
h5,
h4,
h6 {
  @apply text-brand-primary;
}

body {
  @apply text-brand-text;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand-primary: #00899e;
    --color-brand-secondary: #d9de38;
    --color-brand-tertiary: #283155;
    --color-brand-text: #1a2339;
    --color-brand-grey: #595b63;
  }

  h1,
  h2,
  h3,
  h5,
  h4,
  h6 {
    @apply text-white;
  }
  body {
    @apply text-gray-100;
  }
}
